@import url(./fontawesome-free-5.14.0-web/css/all.min.css);
:root{
    --task-color: rgb(16, 16, 221);
}
body {
    box-sizing:border-box ;
    background-image: url(./gallery/main\ page\ wallpaper.jpg);
    background-repeat: repeat;
    background-size:cover;
    background-attachment: scroll;
    direction: rtl;
    margin: 0%;
    display: flex;
    justify-content: center;

}


/*h1{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: wheat;
    font-size: xxx-large;
    width: 400px;
    height: 80px;
    background-color: rgba(87, 44, 128, 0.781);
    border-radius: 20px;
    position: relative;
    right: calc(50% - 200px);
}
h1:hover{
    box-shadow: 2px 2px 10px 3px white;
    text-shadow: 5px 5px 1px black;
}*/
.container{
    filter: contrast(10);
    overflow: hidden;
}
p {
    font-size: 80px;
    font-weight: bold;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    animation:
    ghost-by-siavash 8s
    infinite;
    filter: opacity(0);
}
p:nth-child(1)
{
    transform: translateY(50%);
    animation-direction: normal;
    color: teal;
    text-shadow: 10px 10px rgb(119, 233, 233);
}
p:nth-child(2)
{
    transform: translateY(-50%);
    animation-direction: reverse;
    animation-delay: -1s;
    color: teal;
    text-shadow: 10px 10px rgb(119, 233, 233);   
}




@keyframes ghost-by-siavash
{
    0%{
        filter:
        opacity(0) blur(0.01em);
        letter-spacing: -0.8em;
    }
    20%{
        filter:
        opacity(1) blur(0.01em);
    }
    40%{
        filter:
        opacity(1) blur(0.5em);
    }
    40%{
        filter:
        opacity(0) blur(0.5em);
        letter-spacing:0.24em;
    }

}
.t1 a{
    width: 100px;
    height: 100px;
    background-color: transparent;
    color: white;
    position: fixed;
    left: calc(99% - 50px);
    top: calc(30% - 50px);
    transition-timing-function:linear;
    transform: rotate(45deg);
    font-size: 90px;
    text-align: center;
    text-decoration: none;
   
}
@keyframes tasks {

    0%{transform: rotate(45deg);
        
   
    }
  
    50%{
        transform:translatex(-40px) rotateY(4turn) ;

    }
    80%{
        transform:translatex(-40px) rotateY(8turn) ;
        border-radius: 100%;

    }
    
  
    100%{
        transform:translatex(-40px) rotateY(8turn) ;
        border-radius: 100%;
    }
}
a:hover{
    
    animation:tasks 4s infinite;
    animation-timing-function:infinite;
    color: #f35626;
    box-shadow: -2px 2px 2px 2px seashell;
    text-shadow: 4px 2px 3px whitesmoke;
   
    
}
.t2 a{
    position: fixed;
    left: calc(99% - 50px);
    top: calc(50% - 50px);

}
.t3 a{
    position: fixed;
    left: calc(99% - 50px);
    top: calc(70% - 50px);

}

.bg{
    position: absolute;
    width: 290px;
    height: 50px;
    border-radius: 5%;
    background-color: rgba(255, 255, 255, 0.795);
}
   .instagram {
    position: absolute;
    left: 5px;
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 50px;
  }
  .instagram:hover {
      color: teal;
  }
  .instagram:active {
      color: rgb(105, 1, 1);
  }
.twitter {
    position: absolute;
    color: #3b5998;
    font-size: 50px;
    left: 60px;
}
.twitter:hover {
    color: teal;
}
.twitter:active {
    color: rgb(105, 1, 1);
}
.facebook {
    position: absolute;
    color: blue;
    font-size: 50px;
    left: 115px;
}
.facebook:hover {
    color: teal;
}
.facebook:active {
    color: rgb(105, 1, 1);
}

.telegram {
    position: absolute;
    color: #0088cc;
    font-size: 50px;
    left: 170px;

}
.telegram:hover {
    color: teal;
}
.telegram:active {
    color: rgb(105, 1, 1);
}
.whatsapp {
    position: absolute;
    color: #25d366;
    font-size: 50px;
    left: 225px;

}
.whatsapp:hover {
    color: fuchsia;
}
.whatsapp:active {
    color: rgb(105, 1, 1);
}
.end{
    top:50em;
    right:calc(80% - 25px);
}
span:hover{
    background-color: black;
    box-shadow: 1px 3px 4px 1px white;
}
