<<<<<<< HEAD
body{
    background-image: url(./gallery/20210108_200125.jpg);
    background-size:100%;
    background-repeat: no-repeat;
    
}
=======
body{
    background-image: url(./gallery/20210108_200125.jpg);
    background-size:100%;
    background-repeat: no-repeat;
    
}
>>>>>>> d977460eab98902581e4deb3fa3d6747c1dc9450
